.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 250px;

  }

  .body  {
    text-align: center;
    display: flex;
    justify-content: center;
  }