.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F4EDE5;
    align-items: center;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    min-height: 100vh;
    
  }

  .input > .header {
    
    font-weight: 100;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    outline: none;
    color: #E3686B;
  
  }

  .body  {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }

  html {
    height: 100%;
    width: 100%;
  }

  .button2 {
    font-size: 1rem;
    padding: .5rem 1rem .4rem;
    border: 1px solid;
    border-radius: 1rem;
    background: #F4EDE5;
    color: #1B2121;
    display: inline-block;
    text-decoration: none;
  }