.restaurantCard {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.logincard {
    margin: 50px;
    display: flex;
    justify-content: center;
  }

  .homebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
  }